<div class="card" style="min-height: 275px;">
    <div class="c-details">
        <div class="logos">
            <span>
                67%
            </span>
        </div>
        <div class="title">
            Facebook
        </div>
    </div>
    <div class="sub">
        <div class="t-text">
            <span>
                Vision
            </span> : To to give people the power to build community and bring the world closer together
        </div>
        <div class="t-text">
            <span>
                North star Metric: 
            </span> : Monthly active users
        </div>
    </div>
</div>

<div class="product-map">
    <div class="p-title">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%;color:#5637AD" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="item-name">
            Product Goals
          </div>
    </div>

    <mat-tab-group>
        <mat-tab label="Yearly">
            
            <div class="roadmap-wrapper">
                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>
            </div>
        
        </mat-tab>
        <mat-tab label="Monthly"> 

            <div class="roadmap-wrapper">
                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>

                <div class="roadmap-columns-wrapper">
                    <app-feature-column></app-feature-column>
                </div>
            </div>
        </mat-tab>
      </mat-tab-group>
      
</div>